@import "tailwindcss";

:root {
  --background: #000000;
  --background-secondary: #0a0a0a;
  --foreground: #ffffff;
  --foreground-muted: #888888;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), var(--font-inter), sans-serif;
  --font-weight-bold: 550;
  --font-weight-extrabold: 700;
  --font-weight-black: 800;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* lenis */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
